html {
  background: lightgrey;
  font-size: 10px;
  font-family: Georgia, sans-serif;
}
h1 {
  font-family: Herculanum;
  color: gold;
  font-size: 5rem;
  text-align: center;
  display: grid;
}
h2 {
  font-size: 4rem;
  color: #fff;
  background: #212121;
  padding: 1rem;
  border-radius: 1rem;
}
h3 {
  text-align: center;
  font-size: 3rem;
}

body {
  margin: 0;
  background: linear-gradient(
    180deg,
    lightgrey 0%,
    #B9D9EB 5%,
    powderblue 15%,
    lightskyblue 25%,
    skyblue 45%,
    deepskyblue 65%,
    dodgerblue 85%
  );
  height: 100%;
}
ul {
  line-height: 1rem;
}
div p {
  font-size: 2.5rem;
  font-family: Georgia, sans-serif;
  line-height: 5rem;
 
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: separate;
  border-spacing: 1rem;
  
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 70%;
}
tbody th {
  width: 30%;
  font-size: 3rem;
  background: linear-gradient(135deg, skyblue, deepskyblue);
  box-shadow: 10px 5px 5px powderblue;
  border-radius: 1rem;
  text-align: center;
  color: #fff;
}
tbody td {
  width: 70%;
  font-size: 2rem;
  border: solid 2px lightgrey;
  text-align: left;
  border-radius: 1rem;
}

th,
td {
  padding: 20px;
}

th:hover {
  color: gold;
}

summary, details {
  font-size: 1.5rem;
  color: dodgerblue;
  background-color: #E0E0E0;
  padding: 1.5rem;
  border-radius: 1rem;
  line-height: 2rem;

}
footer {
  display: flex;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  font-size: 1.5rem;
  background: dodgerblue;
  color: #fff;
}
a {
  color: dodgerblue;
  text-decoration: none;
}
a:link, a:visted, a:active { 
  color: purple;
  text-decoration: none;

}
a:hover {
 color: dodgerblue; 
 text-decoration: underline;
}

#sun {
  position: absolute;
  top: 1rem;
  left: 70%;
}

#intro {
  margin: 3rem;
  padding: 2rem;

  background: #fff;
  display: block;
  box-sizing: content-box;
  border-radius: 1rem;
}
#profile,
article div {
  margin: 3rem 3rem;
  padding: 2rem 20rem 2rem 20rem;

  background: #fff;
  display: block;
  box-sizing: content-box;
  border-radius: 1rem;
}



#navbar {
  overflow: hidden;
  background-color: black;
  z-index: 1;
  width: 100%;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 2rem 2rem;
  text-decoration: none;
  font-size: 2rem;
}

#navbar a:hover {
  background-color: skyblue;
  color: black;
}

#navbar a.active {
  background-color: #4caf50;
  color: #fff;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

